<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rplidar_a1"
               params="*origin
                       parent
                       name
                       topic
                       hz
                       samples
                       active">

    <!-- Spawn only if active -->
    <xacro:unless value="${active}">

      <!-- Link -->
      <link name="${name}_link">

        <visual>
          <geometry>
            <cylinder radius="0.05" length="0.05"/>
          </geometry>
          <material name="black">
            <color rgba="0.1 0.1 0.1 1.0"/>
          </material>
        </visual>

        <collision>
          <geometry>
            <cylinder radius="0.05" length="0.05"/>
          </geometry>
        </collision>

        <inertial>
          <mass value="0.1"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="0.001" iyy="0.001" izz="0.001"
                  ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>

      </link>

      <!-- Joint -->
      <joint name="${name}_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="${name}_link"/>
        <xacro:insert_block name="origin"/>
      </joint>

      <!-- Gazebo Plugin -->
      <gazebo reference="${name}_link">
        <sensor type="ray" name="${name}_sensor">

          <pose>0 0 0 0 0 0</pose>
          <visualize>true</visualize>
          <update_rate>5.5</update_rate> <!-- 5.5 Hz Typical -->
          <ray>
            <scan>
              <horizontal>
                <samples>1200</samples> <!-- 8000hz/5.5hz / (~360pts) -->
                <resolution>1</resolution>
                <min_angle>-2.51327</min_angle>
                <max_angle>2.51327</max_angle>
              </horizontal>
            </scan>
            <range>
              <min>0.15</min> <!-- 0.15m -->
              <max>8.0</max> <!-- 12m -->
              <resolution>0.01</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.01</stddev> <!-- Typical noise level -->
            </noise>
          </ray>
          <plugin name="${name}_laser_plugin"
                  filename="libgazebo_ros_ray_sensor.so">
            <ros>
              <remapping>~/out:=/gazebo_scan</remapping>
            </ros>
            <output_type>sensor_msgs/LaserScan</output_type>
            <frame_name>${name}_link</frame_name>
          </plugin>
        </sensor>

      </gazebo>

    </xacro:unless>

  </xacro:macro>

</robot>